$FZ: 14px;
$FZS: 20px;
$MB: "Montserrat Bold";
$MR: "Montserrat Regular";
$RSR: "RobotoSlab Regular";
$W: white;
$S: #555555;
$R: #c0301c;
$BGCS: #f8f8f8;
$TP: rgba(0,0,0,0);
@font-face{
    font-family: "Montserrat Bold";
    src: url(fonts/Montserrat-Bold.ttf);
}
@font-face{
    font-family: "Montserrat Regular";
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: "RobotoSlab Regular";
    src: url(fonts/RobotoSlab-Regular.ttf);
}
body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.page{
    max-width: 100%;
    margin: 0 auto;
}
.header {
    background-image: url(images/header.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;   
}
.wrap{
    max-width: 1200px;
    width: 100%;
}
.header__wrap-menu{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__name{
    font-family: $MB;
    font-size: $FZ+10;
    color: $W;
}
.header__menu{
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.header__link{
    text-decoration: none;
    font-size: $FZ;
    font-family: $MR;
    color: $W;
}
.header__link:hover{
    font-weight: bold;
}
.header__wrap-title{
    max-height: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__title{
    font-family: $MB;
    font-size: $FZ+34;
    color: $W;
    line-height: 20%;
}
.header__text{
    font-family: $MR;
    font-size: $FZS;
    color: $W;
}
.header__button{
    font-family: $MR;
    font-size: $FZ+2;
    color: $W;
    background-color: $TP;
    border: 1.5px solid;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    margin-top: 40px;
}
.header__button:hover{
    font-weight: bold;
}
.block-services{
    display: flex;
    justify-content: center;
}
.subtitle-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.subtitle-block__subtitle{
    font-family: $MR;
    font-size: $FZS;
    color: $S;
}
.subtitle-block__dash{
    font-size: 50px;
    color: $S;
}
.subtitle-block__text{
    font-family: $RSR;
    font-size: $FZ+2;
    color: $S;
}
.block-services__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.block-services__content{
    max-width: 380px;
    width: 100%;
    max-height: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.block-services__ikon_left{
    max-width: 40px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    background-color: $R;
    font-size: $FZS+24;
    font-weight: bold;
    color: $W;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px 12px 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.block-services__subtitle_left{
    font-family: $MR;
    font-size: $FZ;
    color: $S;
   
}
.block-services__text_left{
    font-family: $RSR;
    font-size: $FZ;
    color: $S;
}
.block-services__ikon_mid{
    max-width: 40px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    font-size: $FZS+14;
    font-weight: normal;
    color: $R;
    border: 2px solid #dddddd;
    padding: 12px 12px 12px 12px;
    border-radius: 50%;
}
.block-services__subtitle_mid{
    font-family: $MR;
    font-size: $FZ;
    color: $S;
}
.block-services__text_mid{
    font-family: $RSR;
    font-size: $FZ;
    color: $S;
}
.block-services__ikon_right{
    max-width: 40px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    font-size: $FZS+20;
    font-weight: normal;
    color: $R;
    border: 2px solid #dddddd;
    padding: 12px 12px 12px 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.block-services__subtitle_right{
    font-family: $MR;
    font-size: $FZ;
    color: $S;
}
.block-services__text_right{
    font-family: $RSR;
    font-size: $FZ;
    color: $S;
}
.block-photo{
    display: flex;
    justify-content: center;
    background-color: $BGCS;
    margin-top: 80px;
}
.block-photo__text{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.block-photo__text_left{
    max-width: 586px;
    width: 100%;
    font-family: $RSR;
    font-size: $FZ;
    color: $S;
}
.block-photo__text_right{
    max-width: 586px;
    width: 100%;
    font-family: $RSR;
    font-size: $FZ;
    color: $S;
}
.block-photo__inner{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
.block-photo__box{
    max-width: 282px;
    width: 100%;
    text-align: center;
}
.block-photo__photo_one{
    max-width: 100%;
    width: 250px;
    max-height: 100%;
    height: 250px;
    background-image: url(images/photo1.png);
    background-size: 100% 140%
}
.block-photo__effect{
    max-width: 100%;
    width: 250px;
    max-height: 100%;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.block-photo__photo_one:hover .block-photo__effect{
    display: flex;
    justify-content: center;
}
.block-photo__photo_two{
    max-width: 100%;
    width: 250px;
    max-height: 100%;
    height: 250px;
    background-image: url(images/photo2.png);
    background-size: 100% 140%
}
.block-photo__photo_two:hover .block-photo__effect{
    display: flex;
    justify-content: center;
}
.block-photo__photo_three{
    max-width: 100%;
    width: 250px;
    max-height: 100%;
    height: 250px;
    background-image: url(images/photo3.png);
    background-size: 100% 140%
}
.block-photo__photo_three:hover .block-photo__effect{
    display: flex;
    justify-content: center;
}
.block-photo__photo_four{
    max-width: 100%;
    width: 250px;
    max-height: 100%;
    height: 250px;
    background-image: url(images/photo4.png);
    background-size: 100% 100%
}
.block-photo__photo_four:hover .block-photo__effect{
    display: flex;
    justify-content: center;
}
.block-photo__wrap-icon{
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}
.block-photo__icon{
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: $W;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-photo__icon:hover{
    background-color: $R;
}
.block-photo__name{
    font-family: $MR;
    font-size: $FZ;
    color: $S;
    line-height: 250%;
    margin-top: 10px;
}
.block-photo__prof{
    font-family: $RSR;
    font-size: $FZ - 1;
    color: $S;
}
.block-img{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.subtitle-block__menu{
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.subtitle-block__link{
    text-decoration: none;
    font-family: $RSR;
    font-size: $FZ+2;
    color: $S;
}
.subtitle-block__link:hover{
    color: $R;
}
.block-img__inner{
    max-height: 1200px;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}
.block-img__img_one{
    max-width: 100%;
    width: 380px;
    max-height: 100%;
    height: 380px;
    background-image: url(images/img1.png);
    background-size: 130% 100%;
}
.block-img__img_one:hover .block-img__effect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-img__img_two{
    max-width: 100%;
    width: 380px;
    max-height: 100%;
    height: 380px;
    background-image: url(images/img2.png);
    background-size: 110% 100%;
}
.block-img__img_two:hover .block-img__effect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-img__img_three{
    max-width: 100%;
    width: 380px;
    max-height: 100%;
    height: 380px;
    background-image: url(images/img3.png);
    background-size: 100% 110%;
}
.block-img__img_three:hover .block-img__effect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-img__img_four{
    max-width: 100%;
    width: 380px;
    max-height: 100%;
    height: 380px;
    background-image: url(images/img4.png);
    background-size: 100% 105%;
}
.block-img__img_four:hover .block-img__effect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-img__img_five{
    max-width: 100%;
    width: 380px;
    max-height: 100%;
    height: 380px;
    background-image: url(images/img5.png);
    background-size: 100% 100%;
}
.block-img__img_five:hover .block-img__effect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-img__img_six{
    max-width: 100%;
    width: 380px;
    max-height: 100%;
    height: 380px;
    background-image: url(images/img6.png);
    background-size: 110% 110%;
}
.block-img__img_six:hover .block-img__effect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-img__img_seven{
    max-width: 100%;
    width: 380px;
    max-height: 100%;
    height: 380px;
    background-image: url(images/img7.png);
    background-size: 100% 100%;
}
.block-img__img_seven:hover .block-img__effect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-img__img_eight{
    max-width: 100%;
    width: 380px;
    max-height: 100%;
    height: 380px;
    background-image: url(images/img8.png);
    background-size: 100% 100%;
}
.block-img__img_eight:hover .block-img__effect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-img__img_nine{
    max-width: 100%;
    width: 380px;
    max-height: 100%;
    height: 380px;
    background-image: url(images/img9.png);
    background-size: 130% 100%;
}
.block-img__img_nine:hover .block-img__effect{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-img__effect{
    max-width: 100%;
    width: 380px;
    max-height: 100%;
    height: 380px;
    background-color: rgba(192,48,28,0.7);
    display: none;
}
.block-img__inner-text{
    max-height: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.block-img__text{
    font-family: $MR;
    font-size: $FZ+4;
    color: $W;
}
.block-img__name{
    color: $W;
    font-size: $FZ - 2;
    font-family: $RSR;
}
.block-img__link{
    width: 80px;
    height: 34px;
    background-color: $W;;
    font-family: $RSR;
    font-size: $FZ;
    color: $R;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}
.block-img__arrow{
    font-size: $FZ+8;
    color: $R;
    position: relative;
    bottom: 3px;
}
.section{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 400px;
    background-image: url(images/section.png);
    background-size: 100% 100%; 
    position: relative;
}
.section__effect{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 400px;
    background-color: rgba(192,48,28,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__text{
    font-family: $RSR;
    font-size: $FZS+10;
    color: $W;
    line-height: 170%;
}
.section__link{
    font-family: $RSR;
    font-size: $FZ+4;
    color: $W;
    border: 1.5px solid $W;
    padding: 10px 20px 10px 20px;
    margin-top: 40px;
    text-decoration: none;
}
.section__link:hover{
    font-weight: bold;
}
.block-info{
    display: flex;
    justify-content: center;
}
.block-info__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.block-info__img_up{
    max-width: 100%;
    width: 490px;
    max-height: 100%;
    height: 300px;
    background-image: url(images/bgi1.png);
    background-size: 100% 100%;
}
.block-info__img_down{
    max-width: 100%;
    width: 490px;
    max-height: 100%;
    height: 300px;
    background-image: url(images/img8.png);
    background-size: 100% 100%;
}
.block-info__info{
    max-width: 660px;
    width: 100%;
    max-height: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block-info__wrap_subtitle{
    display: flex;
    justify-content: space-between;
    max-width: 430px;
    width: 100%;
}
.block-info__info:hover .block-info__subtitle{
    color: $R;
}
.block-info__info:hover .block-info__color{
    color: $R;
}
.block-info__info:hover .block-info__link{
    color: $R;
}
.block-info__data{
    max-width: 70px;
    width: 100%;
    max-height: 100%;
    height: 70px;
    border: 2px solid $S;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block-info__number{
    font-family: $MB;
    font-size: $FZS+4;
    color: $S;
}
.block-info__month{
    font-family: $MB;
    font-size: $FZ;
    color: $S;
}
.block-info__inner_subtitle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.block-info__subtitle{
    font-family: $MR;
    font-size: $FZ+2;
    color: $S;
}
.block-info__name{
    font-family: $RSR;
    font-size: $FZ - 1;
    color: $S;
}
.block-info__text{
    font-family: $RSR;
    font-size: $FZ;
    color: $S;
}
.block-info__link{
    font-family: $RSR;
    font-size: $FZ - 1;
    color: $S;
    text-decoration: none;
}
.block-brend{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: $BGCS;
}
.bloc-brend__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.block-brend__brend{
    max-width: 1200px;
    width: 100%;
    max-height: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
.block-brend__deorham{
    max-width: 150px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    padding-top: 10px;
}
.block-brend__rating{
    max-width: 150px;
    width: 100%;
    max-height: 60px;
    height: 100%;
}
.block-brend__malik{
    max-width: 150px;
    width: 100%;
    max-height: 20px;
    height: 100%;
    padding-top: 20px;
}
.block-brend__because{
    max-width: 150px;
    width: 100%;
    max-height: 25px;
    height: 100%;
    padding-top: 16px;
}
.block-brend__womgibi{
    max-width: 150px;
    width: 100%;
    max-height: 60px;
    height: 100%;
    padding-top: 2px;
}
.block-brend__inner_text{
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.block-brend__text{
    font-family: $RSR;
    font-size: $FZ+4;
    color: $S;
    line-height: 200%;
}
.block-brend__name{
    font-family: $RSR;
    font-size: $FZS;
    color: $S;
    margin-top: 40px;
}
.block-brend__inner_elips{
    max-width: 100%;
    width: 80px;
    display: flex;
    justify-content: space-between;
}
.block-brend__elips{
    max-width: 100%;
    width: 18px;
    max-height: 100%;
    height: 18px;
    background-color: $S;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 80px;
}
.block-brend__elips:hover{
    background-color: $R;
}
.footer{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.footer__wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 50PX;
}
.footer__wrap_address{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    height: 230px;
}
.footer__icon{
    color: $S;
    padding-right: 15px;
}
.footer__icon_email{
    color: $S;
    padding-right: 10px;
    font-size: $FZ;
}
.footer__block_address{
   display: flex;
   max-width: 230px;
   width: 100%;
}
.footer__subtitle{
    font-family: $MR;
    font-size: $FZ;
    color: $S;
    margin-bottom: 15px;
}
.footer__address{
    font-family: $RSR;
    font-size: $FZ - 2;
    color: $S;
}
.footer__info{
    font-family: $RSR;
    font-size: $FZ - 2;
    color: $S;
}
.footer__wrap_form{
    max-width: 800px;
    width: 100%;
}
.footer__inner_input{
    max-height: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}
.footer__input{
    max-width: 360px;
    width: 100%;
    max-height: 100%;
    height: 30px;
    font-family: $RSR;
    font-size: $FZ - 2;
    padding-left: 20px;
    
}
.footer__textarea{
    max-width: 800px;
    width: 100%;
    max-height: 100%;
    height: 80px;
    font-family: $RSR;
    font-size: $FZ - 2;
    padding-left: 20px;
    padding-top: 10px;
}
.footer__inner_submit{
    max-width: 550px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__submit{
    max-width: 100%;
    width: 170px;
    font-family: $RSR;
    font-size: $FZ - 2;
    color: $S;
    padding: 10px 20px 10px 20px;
    background-color: rgba(0,0,0,0);
    border: 1px solid $S;
}

.footer__text_submit{
    font-family: $RSR;
    font-size: $FZ - 2;
    color: $S;
}
.footer__star{
    color: $R;
}

.section-twit{
    display: flex;
    justify-content: center;
    background-color: $R;
    padding-bottom: 80px;
}
.section-twit__wrap{
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-twit__inner{
    border: 2px solid;
    padding: 7px 7px 5px 7px;
    border-radius: 50%;
    color: $W;
}
.section-twit__twit{
    text-decoration: none;
    color: $W;
}
.section-twit__dash{
    color: $W;
    font-size: 50px;
}
.section-twit__text{
    color: $W;
    font-family: $RSR;
    font-size: $FZ - 2;
}

@media screen and (max-width: 700px){
    .header__wrap-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .header__name{
        font-size: $FZS + 20;
    }
    .header__menu{
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 350px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .header__link{
        font-size: $FZS + 10;
    }
    .header__title{
        font-size: $FZ + 15;
        text-align: center;
        line-height: normal;
    }
    .header__text{
        text-align: center;
    }
    .subtitle-block__text{
        text-align: center;
    }
    .block-services__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-services__content{
        margin-bottom: 50px;
    }
    .block-photo__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-photo__box{
        margin-bottom: 50px;
    }
    .subtitle-block__menu{
        max-width: 260px;
        width: 100%;
        max-height: 100%;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        align-items: space-between;
        padding-right: 35px;
    }
    .subtitle-block__link{
        font-size: $FZS;
    }
    .block-photo__text_left{
        padding-right: 15px;
    }
    .block-img__inner{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        max-height: 3480px;
        height: 100%;
    }
    .block-info__inner{
        display: flex;
        flex-direction: column;
    }
    .block-info__info{
        max-width: 660px;
        width: 100%;
        max-height: 100%;
        height: 350px;
        margin-top: 30px;
        justify-content: space-evenly;
    }
    .block-info__wrap_subtitle{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .block-info__subtitle{
        font-size: $FZ - 2;
        margin-top: 10px;
    }
    .block-info__text{
        text-align: center;
        padding-top: 20px;
    }
    .block-info__link{
        text-align: center;
        margin-top: 30px;
    }
    .block-brend__brend{
        flex-wrap: wrap;
    }
    .footer__wrap{
        flex-direction: column-reverse;
        max-height: 100%;
        height: 550px;
    }
    .footer__wrap_address{
        margin-top: 30px;
        padding-left: 20px;
    }
    .footer__input{
        max-width: 100px;
        width: 100%;
    }
    .footer__inner_submit{
        max-width: 100%;
        margin-top: 20px;
    }
    .footer__text_submit{
        padding-left: 20px;
    }
    .section__text{
        font-size: $FZS;
    }
}