@font-face {
  font-family: "Montserrat Bold";
  src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat Regular";
  src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "RobotoSlab Regular";
  src: url(fonts/RobotoSlab-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.page {
  max-width: 100%;
  margin: 0 auto;
}

.header {
  background-image: url(images/header.png);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  max-width: 1200px;
  width: 100%;
}

.header__wrap-menu {
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__name {
  font-family: "Montserrat Bold";
  font-size: 24px;
  color: white;
}

.header__menu {
  max-width: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.header__link {
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat Regular";
  color: white;
}

.header__link:hover {
  font-weight: bold;
}

.header__wrap-title {
  max-height: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-family: "Montserrat Bold";
  font-size: 48px;
  color: white;
  line-height: 20%;
}

.header__text {
  font-family: "Montserrat Regular";
  font-size: 20px;
  color: white;
}

.header__button {
  font-family: "Montserrat Regular";
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  margin-top: 40px;
}

.header__button:hover {
  font-weight: bold;
}

.block-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtitle-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.subtitle-block__subtitle {
  font-family: "Montserrat Regular";
  font-size: 20px;
  color: #555555;
}

.subtitle-block__dash {
  font-size: 50px;
  color: #555555;
}

.subtitle-block__text {
  font-family: "RobotoSlab Regular";
  font-size: 16px;
  color: #555555;
}

.block-services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.block-services__content {
  max-width: 380px;
  width: 100%;
  max-height: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.block-services__ikon_left {
  max-width: 40px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  background-color: #c0301c;
  font-size: 44px;
  font-weight: bold;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 12px 12px 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.block-services__subtitle_left {
  font-family: "Montserrat Regular";
  font-size: 14px;
  color: #555555;
}

.block-services__text_left {
  font-family: "RobotoSlab Regular";
  font-size: 14px;
  color: #555555;
}

.block-services__ikon_mid {
  max-width: 40px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  font-size: 34px;
  font-weight: normal;
  color: #c0301c;
  border: 2px solid #dddddd;
  padding: 12px 12px 12px 12px;
  border-radius: 50%;
}

.block-services__subtitle_mid {
  font-family: "Montserrat Regular";
  font-size: 14px;
  color: #555555;
}

.block-services__text_mid {
  font-family: "RobotoSlab Regular";
  font-size: 14px;
  color: #555555;
}

.block-services__ikon_right {
  max-width: 40px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  font-size: 40px;
  font-weight: normal;
  color: #c0301c;
  border: 2px solid #dddddd;
  padding: 12px 12px 12px 12px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.block-services__subtitle_right {
  font-family: "Montserrat Regular";
  font-size: 14px;
  color: #555555;
}

.block-services__text_right {
  font-family: "RobotoSlab Regular";
  font-size: 14px;
  color: #555555;
}

.block-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f8f8f8;
  margin-top: 80px;
}

.block-photo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.block-photo__text_left {
  max-width: 586px;
  width: 100%;
  font-family: "RobotoSlab Regular";
  font-size: 14px;
  color: #555555;
}

.block-photo__text_right {
  max-width: 586px;
  width: 100%;
  font-family: "RobotoSlab Regular";
  font-size: 14px;
  color: #555555;
}

.block-photo__inner {
  margin-top: 80px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-photo__box {
  max-width: 282px;
  width: 100%;
  text-align: center;
}

.block-photo__photo_one {
  max-width: 100%;
  width: 250px;
  max-height: 100%;
  height: 250px;
  background-image: url(images/photo1.png);
  background-size: 100% 140%;
}

.block-photo__effect {
  max-width: 100%;
  width: 250px;
  max-height: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.block-photo__photo_one:hover .block-photo__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-photo__photo_two {
  max-width: 100%;
  width: 250px;
  max-height: 100%;
  height: 250px;
  background-image: url(images/photo2.png);
  background-size: 100% 140%;
}

.block-photo__photo_two:hover .block-photo__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-photo__photo_three {
  max-width: 100%;
  width: 250px;
  max-height: 100%;
  height: 250px;
  background-image: url(images/photo3.png);
  background-size: 100% 140%;
}

.block-photo__photo_three:hover .block-photo__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-photo__photo_four {
  max-width: 100%;
  width: 250px;
  max-height: 100%;
  height: 250px;
  background-image: url(images/photo4.png);
  background-size: 100% 100%;
}

.block-photo__photo_four:hover .block-photo__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-photo__wrap-icon {
  max-width: 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 40px;
}

.block-photo__icon {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-photo__icon:hover {
  background-color: #c0301c;
}

.block-photo__name {
  font-family: "Montserrat Regular";
  font-size: 14px;
  color: #555555;
  line-height: 250%;
  margin-top: 10px;
}

.block-photo__prof {
  font-family: "RobotoSlab Regular";
  font-size: 13px;
  color: #555555;
}

.block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.subtitle-block__menu {
  max-width: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.subtitle-block__link {
  text-decoration: none;
  font-family: "RobotoSlab Regular";
  font-size: 16px;
  color: #555555;
}

.subtitle-block__link:hover {
  color: #c0301c;
}

.block-img__inner {
  max-height: 1200px;
  height: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.block-img__img_one {
  max-width: 100%;
  width: 380px;
  max-height: 100%;
  height: 380px;
  background-image: url(images/img1.png);
  background-size: 130% 100%;
}

.block-img__img_one:hover .block-img__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-img__img_two {
  max-width: 100%;
  width: 380px;
  max-height: 100%;
  height: 380px;
  background-image: url(images/img2.png);
  background-size: 110% 100%;
}

.block-img__img_two:hover .block-img__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-img__img_three {
  max-width: 100%;
  width: 380px;
  max-height: 100%;
  height: 380px;
  background-image: url(images/img3.png);
  background-size: 100% 110%;
}

.block-img__img_three:hover .block-img__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-img__img_four {
  max-width: 100%;
  width: 380px;
  max-height: 100%;
  height: 380px;
  background-image: url(images/img4.png);
  background-size: 100% 105%;
}

.block-img__img_four:hover .block-img__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-img__img_five {
  max-width: 100%;
  width: 380px;
  max-height: 100%;
  height: 380px;
  background-image: url(images/img5.png);
  background-size: 100% 100%;
}

.block-img__img_five:hover .block-img__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-img__img_six {
  max-width: 100%;
  width: 380px;
  max-height: 100%;
  height: 380px;
  background-image: url(images/img6.png);
  background-size: 110% 110%;
}

.block-img__img_six:hover .block-img__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-img__img_seven {
  max-width: 100%;
  width: 380px;
  max-height: 100%;
  height: 380px;
  background-image: url(images/img7.png);
  background-size: 100% 100%;
}

.block-img__img_seven:hover .block-img__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-img__img_eight {
  max-width: 100%;
  width: 380px;
  max-height: 100%;
  height: 380px;
  background-image: url(images/img8.png);
  background-size: 100% 100%;
}

.block-img__img_eight:hover .block-img__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-img__img_nine {
  max-width: 100%;
  width: 380px;
  max-height: 100%;
  height: 380px;
  background-image: url(images/img9.png);
  background-size: 130% 100%;
}

.block-img__img_nine:hover .block-img__effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-img__effect {
  max-width: 100%;
  width: 380px;
  max-height: 100%;
  height: 380px;
  background-color: rgba(192, 48, 28, 0.7);
  display: none;
}

.block-img__inner-text {
  max-height: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-img__text {
  font-family: "Montserrat Regular";
  font-size: 18px;
  color: white;
}

.block-img__name {
  color: white;
  font-size: 12px;
  font-family: "RobotoSlab Regular";
}

.block-img__link {
  width: 80px;
  height: 34px;
  background-color: white;
  font-family: "RobotoSlab Regular";
  font-size: 14px;
  color: #c0301c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.block-img__arrow {
  font-size: 22px;
  color: #c0301c;
  position: relative;
  bottom: 3px;
}

.section {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 400px;
  background-image: url(images/section.png);
  background-size: 100% 100%;
  position: relative;
}

.section__effect {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 400px;
  background-color: rgba(192, 48, 28, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__text {
  font-family: "RobotoSlab Regular";
  font-size: 30px;
  color: white;
  line-height: 170%;
}

.section__link {
  font-family: "RobotoSlab Regular";
  font-size: 18px;
  color: white;
  border: 1.5px solid white;
  padding: 10px 20px 10px 20px;
  margin-top: 40px;
  text-decoration: none;
}

.section__link:hover {
  font-weight: bold;
}

.block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.block-info__img_up {
  max-width: 100%;
  width: 490px;
  max-height: 100%;
  height: 300px;
  background-image: url(images/bgi1.png);
  background-size: 100% 100%;
}

.block-info__img_down {
  max-width: 100%;
  width: 490px;
  max-height: 100%;
  height: 300px;
  background-image: url(images/img8.png);
  background-size: 100% 100%;
}

.block-info__info {
  max-width: 660px;
  width: 100%;
  max-height: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-info__wrap_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 430px;
  width: 100%;
}

.block-info__info:hover .block-info__subtitle {
  color: #c0301c;
}

.block-info__info:hover .block-info__color {
  color: #c0301c;
}

.block-info__info:hover .block-info__link {
  color: #c0301c;
}

.block-info__data {
  max-width: 70px;
  width: 100%;
  max-height: 100%;
  height: 70px;
  border: 2px solid #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-info__number {
  font-family: "Montserrat Bold";
  font-size: 24px;
  color: #555555;
}

.block-info__month {
  font-family: "Montserrat Bold";
  font-size: 14px;
  color: #555555;
}

.block-info__inner_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.block-info__subtitle {
  font-family: "Montserrat Regular";
  font-size: 16px;
  color: #555555;
}

.block-info__name {
  font-family: "RobotoSlab Regular";
  font-size: 13px;
  color: #555555;
}

.block-info__text {
  font-family: "RobotoSlab Regular";
  font-size: 14px;
  color: #555555;
}

.block-info__link {
  font-family: "RobotoSlab Regular";
  font-size: 13px;
  color: #555555;
  text-decoration: none;
}

.block-brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  background-color: #f8f8f8;
}

.bloc-brend__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.block-brend__brend {
  max-width: 1200px;
  width: 100%;
  max-height: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.block-brend__deorham {
  max-width: 150px;
  width: 100%;
  max-height: 30px;
  height: 100%;
  padding-top: 10px;
}

.block-brend__rating {
  max-width: 150px;
  width: 100%;
  max-height: 60px;
  height: 100%;
}

.block-brend__malik {
  max-width: 150px;
  width: 100%;
  max-height: 20px;
  height: 100%;
  padding-top: 20px;
}

.block-brend__because {
  max-width: 150px;
  width: 100%;
  max-height: 25px;
  height: 100%;
  padding-top: 16px;
}

.block-brend__womgibi {
  max-width: 150px;
  width: 100%;
  max-height: 60px;
  height: 100%;
  padding-top: 2px;
}

.block-brend__inner_text {
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.block-brend__text {
  font-family: "RobotoSlab Regular";
  font-size: 18px;
  color: #555555;
  line-height: 200%;
}

.block-brend__name {
  font-family: "RobotoSlab Regular";
  font-size: 20px;
  color: #555555;
  margin-top: 40px;
}

.block-brend__inner_elips {
  max-width: 100%;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-brend__elips {
  max-width: 100%;
  width: 18px;
  max-height: 100%;
  height: 18px;
  background-color: #555555;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 80px;
}

.block-brend__elips:hover {
  background-color: #c0301c;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50PX;
}

.footer__wrap_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100%;
  height: 230px;
}

.footer__icon {
  color: #555555;
  padding-right: 15px;
}

.footer__icon_email {
  color: #555555;
  padding-right: 10px;
  font-size: 14px;
}

.footer__block_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 230px;
  width: 100%;
}

.footer__subtitle {
  font-family: "Montserrat Regular";
  font-size: 14px;
  color: #555555;
  margin-bottom: 15px;
}

.footer__address {
  font-family: "RobotoSlab Regular";
  font-size: 12px;
  color: #555555;
}

.footer__info {
  font-family: "RobotoSlab Regular";
  font-size: 12px;
  color: #555555;
}

.footer__wrap_form {
  max-width: 800px;
  width: 100%;
}

.footer__inner_input {
  max-height: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.footer__input {
  max-width: 360px;
  width: 100%;
  max-height: 100%;
  height: 30px;
  font-family: "RobotoSlab Regular";
  font-size: 12px;
  padding-left: 20px;
}

.footer__textarea {
  max-width: 800px;
  width: 100%;
  max-height: 100%;
  height: 80px;
  font-family: "RobotoSlab Regular";
  font-size: 12px;
  padding-left: 20px;
  padding-top: 10px;
}

.footer__inner_submit {
  max-width: 550px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__submit {
  max-width: 100%;
  width: 170px;
  font-family: "RobotoSlab Regular";
  font-size: 12px;
  color: #555555;
  padding: 10px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #555555;
}

.footer__text_submit {
  font-family: "RobotoSlab Regular";
  font-size: 12px;
  color: #555555;
}

.footer__star {
  color: #c0301c;
}

.section-twit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c0301c;
  padding-bottom: 80px;
}

.section-twit__wrap {
  max-width: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-twit__inner {
  border: 2px solid;
  padding: 7px 7px 5px 7px;
  border-radius: 50%;
  color: white;
}

.section-twit__twit {
  text-decoration: none;
  color: white;
}

.section-twit__dash {
  color: white;
  font-size: 50px;
}

.section-twit__text {
  color: white;
  font-family: "RobotoSlab Regular";
  font-size: 12px;
}

@media screen and (max-width: 700px) {
  .header__wrap-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__name {
    font-size: 40px;
  }

  .header__menu {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .header__link {
    font-size: 30px;
  }

  .header__title {
    font-size: 29px;
    text-align: center;
    line-height: normal;
  }

  .header__text {
    text-align: center;
  }

  .subtitle-block__text {
    text-align: center;
  }

  .block-services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-services__content {
    margin-bottom: 50px;
  }

  .block-photo__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-photo__box {
    margin-bottom: 50px;
  }

  .subtitle-block__menu {
    max-width: 260px;
    width: 100%;
    max-height: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    padding-right: 35px;
  }

  .subtitle-block__link {
    font-size: 20px;
  }

  .block-photo__text_left {
    padding-right: 15px;
  }

  .block-img__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: 3480px;
    height: 100%;
  }

  .block-info__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-info__info {
    max-width: 660px;
    width: 100%;
    max-height: 100%;
    height: 350px;
    margin-top: 30px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .block-info__wrap_subtitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .block-info__subtitle {
    font-size: 12px;
    margin-top: 10px;
  }

  .block-info__text {
    text-align: center;
    padding-top: 20px;
  }

  .block-info__link {
    text-align: center;
    margin-top: 30px;
  }

  .block-brend__brend {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-height: 100%;
    height: 550px;
  }

  .footer__wrap_address {
    margin-top: 30px;
    padding-left: 20px;
  }

  .footer__input {
    max-width: 100px;
    width: 100%;
  }

  .footer__inner_submit {
    max-width: 100%;
    margin-top: 20px;
  }

  .footer__text_submit {
    padding-left: 20px;
  }

  .section__text {
    font-size: 20px;
  }
}
