.main-block{
    position: relative;
   width: 1200px;
   margin: 0 auto;
}
.header{
    position: relative;
    height: 634px;
    background-image: url(images/background1.png) ;
    background-size: 100%, 108%;   
}
.elipse1{
    width: 24px;
    height: 24px;
    border: 1.8px solid black;
    border-radius: 50%;
    position: relative;
    border-color: white;
}
.elipse2{
    width: 8px;
    height: 8px;
    border: 1.8px solid black;
    border-radius: 50%;
    position: absolute;
    left: 6.5px;
    top: 6.5px;
    border-color: white;
}
.button{
    position: relative;
    top: 50px;
    left: 176px;
}
.take{
    margin-left: 33px;
    font-size: 18px;
    font-family: Myriad Pro;
    color: white;
}
.head{
    width: 300px;
    position: relative;
    top: 230px;
    left: 176px;
}
.main-headline1{
    position: relative;
    font-size: 45px;
    font-family: "Myriad Pro Light";
    color: white;
}
.main-headline2{
    position: relative;
    font-size: 45px;
    font-family: "Open Sans Light";
    color: white;
}
.Phone{
    width: 430px;
    height: 600px;
    position: relative;
    left: 574px; 
}
.text-block-phone{
    height: 400px;
}
.text-style1{
    position: relative;
    font-size: 8px;
    font-family: "Open Sans Regular";
    color: white;
    line-height: 2em;
}
.text-style2{
    position: relative;
    font-size: 9px;
    font-family: "Open Sans Regular";
    margin-top: 20px;
    line-height: 2em;
}
.text-style3{
    position: relative;
    font-size: 8px;
    font-family: "Open Sans Semibold";
    line-height: 2em;

}
.text-style-headline{
    font-family: "Open Sans Light"; 
    font-size: 26px;
}
.column-text1{
    display: inline-block;
    width: 410px;
    margin-left: 176px;
    margin-top: 50px;
}
.column-text2{
    display:inline-block;
    position: relative;
    width: 430px;
    margin-left: 20px;
    top: -42px;
}

.small-block{
    display: inline-block;
    width: 800px;
    height: 210px;
    position: relative;
    margin-top: 80px;
    margin-left: 156px;
}
.big-block{
    position: relative;
    height: 460px;
}
.box-menu-color{
    position: relative;
    float: left;
    width: 300px;
    height: 230px;
    display: inline-block;
    line-height: 0;
    
}
.box-menu-image1{
    position: relative;
    float: left;
    width: 300px;
    height: 230px;
    display: inline-block;
    background-image: url(images/image1.png);
    background-size: 100% 100%;  
    line-height: 0;
}
.box-menu-image2{
    position: relative;
    float: left;
    width: 300px;
    height: 230px;
    display: inline-block;
    background-image: url(images/image3.png);
    background-size: 100% 100%;  
    line-height: 0;  
}
.box-menu-big{
    float: left;
    position: relative;
    width: 600px;
    height: 230px;
    display: inline-block;
    background-image: url(images/image2.png);
    background-size: 100% 100%;
    line-height: 0;
}
.inside-box{
    width:280px;
    height: 230px;
    position: relative;
    left: 30px;
    top: 10px;
    
}
.inside-box-big{
    width: 570px;
    height: 200px;
    position: relative;
    left: 30px;
    top: 10px;
    
}
.headline{
    font-size: 25px;
    font-family: "Open Sans Light";
    color: white;
}
.strelka{
    margin-left: 10px;
    margin-bottom: 1px;
}
.link{
    font-size: 11px;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    text-decoration: none;
}
.heart{
    position: relative;
    left: 100px;
    top: 12px;
}
.box-text1{
    position: relative;
    width: 170px;
    display: inline-block;
    margin-left: 20px;
}
.background-img{
    margin-top: 120px;
    height: 600px;
    background-image: url(images/background3.png);
    background-size: 100% 100%;   
}
.text-background-img{
    position: relative;
    left: 170px;
    top: 280px;
}
.block-box-text2{
    position: relative;
    width: 1200px;
    height: 450px;
    left: 176px;
}   
.box-text2{
    width: 240px;
    margin-top: 90px;
    display: inline-block;
}
.headline-big-block{
    font-family: "Open Sans Light"; 
    font-size: 28px;
    margin-left: 176px;
    color: white;
    position: relative;
    top: 80px;
}
.dynamic-block{
    float: none;
    width: 280px;
    height: 230px;
    position: relative;
    top: 70px;
    left: 176px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 74px;
    display: inline-block;
}
.dynamic-block:hover{
    background-color: #ffffff;
}
.hueta1{
    font-size: 9px;
    font-family: "Open Sans Semibold";
    color: white;
    position: relative;
    top: 15px;
    width: 40px;
    background-color: #e1e1e1;
    padding: 3px;
    padding-left: 14px;
    padding-right: 8px;
    border-radius: 6px;
}
.hueta2{
    font-size: 9px;
    font-family: "Open Sans Semibold";
    color: white;
    position: relative;
    top: 15px;
    width: 74px;
    background-color: #bd8cbf;
    padding: 3px;
    padding-left: 14px;
    padding-right: 8px;
    border-radius: 6px;
}

.hedline-dynamic-block{
    font-size: 24px;
    font-family: "Open Sans Light"
}
.link-dynamic-block{
    font-size: 9px;
    color: white;
    font-family: "Open Sans Semibold";
    background-color: #82ca9c;
    padding: 10px;
    padding-left: 20px;
    padding-right: 18px;
    border-radius: 3px;
    text-decoration: none;
}
.foter{
    height: 400px;
    background-color: #192431;
}
.foter-block-text{
    position: relative;
    top: 100px;
    width: 350px;
    display: inline-block;
    margin-left: 176px;
}
.foter-block-input{
    position: relative;
    bottom: 20px;
    width: 350px;
    display: inline-block;
    margin-left: 150px;
}
input{
    width: 245px;
    height: 30px;
}
.checkbox{
    display: inline-block;
    position: absolute;
    top: 32px;
    width: 40px;
    height: 36px;
    background-color: #82ca9c;
    border-color: #82ca9c;
    border: none;
    color: white;
    font-size: 20px;
    
}
.text-style-input{
    position: relative;
    width: 230px;
    color: #67676d;
    font-family: "Open Sans Regular";
    font-size: 8px;
}
.foter-column{
    display: inline-block;
    width: 50px;
}
@media screen and (max-width: 700px) {
    .main-block{
        width: 700px;
        margin: auto;
    }
    .header{
        height: 317px;
        background-image: url(images/background1.png) ;
        background-size: 100%, 108%;   
    }
    .Phone{
        display: none;
    }

    .button{
        position: relative;
        top: 30px;
        left: 60px;
    }
    .head{
        width: 300px;
        position: relative;
        top: 80px;
        left: 60px; 
    }  
    .main-headline1{
        font-size: 30px;
        font-family: "Myriad Pro Light";
        color: white;
    }
    .big-block{
        position: relative;
        height: 200;
    }
    .column-text1{    
        width: 410px;
        margin-top: 50px;
        height: 350px;
        margin-left: 80px;
    }
    .column-text2{
        width: 430px;
        margin-left: 80px;
    }

    .text-block-phone{
        height: 540px;
    }
    .background-img{
        margin-top: 120px;
        height: 300px;
        background-image: url(images/background3.png);
        background-size: 100% 100%;   
    }
    .main-headline2{
        font-size: 30px;
        font-family: "Open Sans Light";
        color: white;
    }
    .dynamic-block{
        width: 200px;
        height: 230px;
        position: relative;
        left: 25px;
        padding: 20px;
        padding-left: 40px;
        padding-right: 74px;
        display: inline-block;
    }
    .text-background-img{
        position: relative;
        left: 40px;
        top: 50px;
    }
    .box-text2{
        width: 160px;
        margin-top: 10px;
        display: inline-block;
        margin-left: 40px;
    }
    .block-box-text2{
        position: relative;
        top: 60px;
        width: 600px;
        height: 450px;
        left: 40px;
    } 
    .headline-big-block{
        font-family: "Open Sans Light"; 
        font-size: 28px;
        right: 100px;
        color: white;
        position: relative;
        top: 80px;
    }
    .small-block{
        width: 500px;
        height: 320px;
        position: relative;
        margin-top: 100x;
        margin-left: 100px;
    }
    .box-text1{
        position: relative;
        width: 200px;
        display: inline-block;
        margin-left: 20px;
    }
    .foter-block-text{
        top: 20px;
        width: 350px;
        margin-left: 80px;
    }
    .foter-block-input{
        position: relative;
        top: 40px;
        width: 350px;
        margin-left: 80px;
    }
    .foter{
        height: 400px;
        background-color: #192431;
    }
}