.page{
    width: 100%;
    margin: 0 auto;
    background-color: white;
}
.header{
    display: flex;
    justify-content: center;
}
.header__block{
    max-width: 100% ;
    width: 1200px;
    max-height: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    background-image: url(images/Logo.png);
    background-size: 100% 100%;
    display: flex;
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
}
.header__menu{
    max-width: 850px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__link{
    font-family: "Lato Regular";
    padding: 1ex 2.5ex 1ex 2.5ex;
    font-size: 13.5px;
    text-decoration: none;
    color: #868686;
}
.header__link:hover{
    background-color: #ffbb42;
    color: white;
}
.section-main{
    width: 100%;
    height: 100%;
    max-height: 600px;
    background-color: #709dca;
    display: flex;
    justify-content: center;
}
.section-main__wrap{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.section-main__title{
    font-family: "Gotham Black";
    font-size: 35px;
    font-weight: bold;
    color: white;
}
.section-main__text{
    font-family: "Myriad Pro Regular";
    font-size: 16px;
    color: white;
    margin: 5px;
}
.section-main__search{
    max-width: 1200px;
    width: 100%;
    margin-top: 30px;
    display: flex; 
    justify-content: center;
}
.section-main__input{
    font-family: "Open Sans Regular";
    font-size: 12px;
    max-width: 220px;
    width: 100%;
    max-height: 100%;
    height: 30px;
    padding: 2px 15px 2px 40px;
    margin: 0 5px 0 10px;
    border: 1px solid #868686;
}
.section-main__ikon_name{
    background-image: url(images/ikon1.png);
    background-repeat: no-repeat;
    background-position: 10px;
   
}
.section-main__ikon_email{
    background-image: url(images/ikon2.png);
    background-repeat: no-repeat;
    background-position: 10px;
}
.section-main__ikon_phone{
    background-image: url(images/ikon3.png);
    background-repeat: no-repeat;
    background-position: 10px;
}
.section-main__button{
    font-family: "Open Sans Regular";
    font-size: 11px;
    max-width: 100%;
    width: 170px;
    max-height: 100%;
    height: 36px;
    background-color: #ffbb42;
    color: white;
    border: none;
    padding: 0px 15px 0px 15px;
    margin: 0 5px 0 10px;
}
.section-main__komp{
    position: relative;
    top: 50px;
    width: 45%;
    height: 70%;
}
.section-info{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-info__wrap{
   max-width: 1200px;
   width: 100%; 
   margin-top: 100px;
   display: flex;
   flex-direction: column;
}
.section-wrap__title{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.subtitle{
    font-family: "Gotham Black";
    font-weight: bold;
    font-size: 30px;
    color: #394b50;
}
.Subtitle__text{
    font-family: "Lato Regular";
    font-size: 16px;
    color: #717b7e;
    line-height: 150%;
}
.section-info__wrap_info{
    display: flex;
    justify-content: space-between;
}
.section-info__column_left{
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section-info__column_right{
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section-info__block{
    display: flex;
    margin-top: 50px;
    max-width: 550px;
    width: 100%;
    
}
.section-info__block-wrap{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.section-info__ikon{
    display: flex;
    justify-content: start;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}
.section-info__subtitle{
    font-family: "Lato Regular";
    font-size: 16px;
    font-weight: bold;
    color: #394b50;
    font-weight: bold;

}
.section-info__text{
    font-family: "Open Sans Regular";
    font-size: 13px;
    color: #b7b7b7;
    margin-top: 10px;
    line-height: 170%;
}

.section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.section__block-image{
    max-width: 100%;
    width: 50%;
    background-image: url(images/Background1.png);
    background-size: 100% 100%;
}
.section__block-color{
    max-width: 100%;
    width: 50%;
    max-height: 100%;
    height: 500px;
    background-color: #ffbb42;
}
.section__wrap_color{
    max-width: 550px;
    width: 100%;
    position: relative;
    left: 40px;
    top: 110px; 
}
.section__subtitle_color{
    font-family: "Gotham Black";
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.section__text_color{
    font-family: "Open Sans Regular";
    font-size: 13px;
    color: white;
    margin-top: 10px;
    line-height: 170%;
    
}
.section__button_color{
    font-family: "Lato Regular";
    font-size: 13px;
    color: white;
    border: 1px solid #e7ad48;
    text-decoration: none;
    padding: 1ex 2ex 1ex 2ex;
    position: relative;
    top: 20px;
}
.section__button_color:hover{
   background-color: #e7ad48;
}
.section-price{
    background-color: #e7edf3;
    display: flex;
    justify-content: center;
}
.section-price__wrap_external{
    max-width: 1200px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.section-block__wrap_interior{
    max-width: 1200px;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-box_white{
    max-width: 100%;
    width: 400px;
    max-height: 100%;
    height: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section-box__subtitle{
    font-family: "Lato Light";
    font-size: 25px;
    color: #818b95;
    margin-top: 30px;
}
.section-box__price{
    max-width: 100px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.box-price__dollor{
    font-family: "Lato Regular";
    font-size: 32px;
    font-weight: bold;
    color: #ffbb42;
    position: relative;
    bottom: 25px;
}
.box-price_number{
    font-family: "Lato Regular";
    font-size: 60px;
    font-weight: bold;
    color: #ffbb42;
    
}
.box-price_text{
    font-family: "Lato Light";
    font-size: 15px;
    line-height: 200%;
    color: #818b95;
}
.section-box__text_up{
    font-family: "Lato Regular";
    font-size: 13px;
    color: #b5bbc1;
    border: 1px solid #e2e9f0;
    max-width: 360px;
    width: 100%;
    text-align: center;
    border-left: none;
    border-right: none;
    line-height: 300%;
}
.section-box__text_midle{
    font-family: "Lato Regular";
    font-size: 13px;
    color: #b5bbc1;
    border: 1px solid #e2e9f0;
    max-width: 360px;
    width: 100%;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    line-height: 300%;
}
.section-box__text_down{
    font-family: "Lato Regular";
    font-size: 13px;
    color: #b5bbc1;
    max-width: 360px;
    width: 100%;
    text-align: center;
    line-height: 300%;
    margin-bottom: 10px;
}
.section-box__button{
    font-family: "Lato Regular";
    font-size: 14px;
    color: white;
    background-color: #ffbb42;
    text-decoration: none;
    padding: 2ex 1.5em 2ex 1.5em;
    margin-bottom: 30px;
}
.section-box_white:hover{
    background-color: #709dca;
    transform: scale(1, 1.2)
}
.section-box_white:hover .section-box__subtitle{
    color: white;
}
.section-box_white:hover .box-price__dollor{
    color: white;   
}
.section-box_white:hover .box-price_number{
    color: white;
}
.section-box_white:hover .box-price_text{
    color: white;
}
.section-box_white:hover .section-box__text_up{
    color: white;
}
.section-box_white:hover .section-box__text_midle{
        color: white;
}
.section-box_white:hover .section-box__text_down{
    color: white;
}
.section-steps__wrap{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.section-steps__block-image{
    width: 100%;
    max-width: 1120px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 80px;
}
.section-steps__image_ikon-headphones{
    width: 6.5%;
    height: 6.5%;
}
.section-steps__image_ikon-lock{
    width: 4.5%;
    height: 4.5%;
}
.section-steps__image_ikon-cloud{
    width: 7.5%;
    height: 7.5%;
}
.section-steps__image_ikon-like{
    width: 6%;
    height: 6%;
}
.section-steps__image_arrow-up{
    width: 13%;
    height: 13%;
    position: relative;
    bottom: 40px;
}
.section-steps__image_arrow-down{
    width: 13%;
    height: 13%;
    position: relative;
    top: 80px;
}
.section-steps__block-text{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.section-steps__block-step{
    max-width: 215px;
    width: 100%;
}
.section-steps__subtitle{
    font-family: "Lato Regular";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
.section-steps__text{
    font-family: "Open Sans Regular";
    font-size: 13px;
    color: #b7b7b7;
    text-align: center;
    line-height: 150%;
}
.section-comments{
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc155;
    
}
.subtitle_white{
    font-family: "Gotham Black";
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-top: 80px;
}
.Subtitle__text_white{
    font-family: "Lato Regular";
    font-size: 16px;
    color: white;
    line-height: 150%;
}

.section-comments__block-comment{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 80px;
}
.section-comments__box-comment{
    max-width: 586px;
    width: 100%;
    background-color: white;
    display: flex;
    margin: 8px 0px 8px 0px;
}
.section-comments__photo{
    width: 22%;
    height: 65%;
    margin-left: 15px;
    margin-top: 20px;
}
.section-comments__wrap{
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section-comments__text{
    font-family: "Open Sans Regular";
    font-size: 13px;
    color: #b7b7b7;
    line-height: 150%;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
}
.section-comments__text_quotes_start{
    font-family: "Brandon Grotesque Bold";
    font-size: 24px;
    color: #a4a4a4;
    margin-top: 15px;
    margin-left: 15px;
}
.section-comments__text_quotes_end{
    font-family: "Brandon Grotesque Bold";
    font-size: 24px;
    color: #a4a4a4;
}
.section-comments__name{
    font-family: "Lato Regular";
    font-size: 14px;
    color: #f78344;
}
.section-comments__prof{
    font-family: "Lato Regular";
    font-size: 14px;
    color: #99a9ae;
    margin-left: 9px;
    margin-bottom: 20px;
}
.section-footer{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.section-footer__input_name{
    font-family: "Open Sans Regular";
    font-size: 12px;
    max-width: 100%;
    width: 200px;
    max-height: 100%;
    height: 30px;
    padding-left: 35px;
    margin-right: 20px;
    border: 1px solid #868686;
}
.section-footer__input_email{
    font-family: "Open Sans Regular";
    font-size: 12px;
    max-width: 100%;
    width: 300px;
    max-height: 100%;
    height: 30px;
    padding-left: 35px;
    margin-right: 20px;
    border: 1px solid #868686;
}
.section-footer__input_button{
    font-family: "Lato Regular";
    font-size: 13px;
    max-width: 100%;
    width: 150px;
    max-height: 100%;
    height: 35px;
    background-color: #ffbb42;
    border: none;
    color: white;
}
.section-footer__input_wrap{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.section-footer__input-ikon_name{
    background-image: url(images/ikon1.png);
    background-repeat: no-repeat;
    background-position: 10px;
    
}
.section-footer__input-ikon_email{
    background-image: url(images/ikon2.png);
    background-repeat: no-repeat;
    background-position: 10px;
}
.section-footer__map{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 1100px;
    max-height: 100%;
    height: 500px;
    background-image: url(images/map.png);
    background-size: 100% 100%;
}
.section-footer__map_elipse{
    width: 25%;
    height: 60%;
    margin-top: 55px;
}
.section-footer__menu{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-top: 1px solid #e3e7ec;
    padding-top: 50px;
}
.section-footer__link{
    font-family: "Lato Regular";
    font-size: 13px;
    text-decoration: none;
    margin: 0 20px 0 20px;
    color: #868686;
}
.section-footer__contact{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.section-footer__contact_ikon{
    max-height: 100%;
    height: 16px;
    color: #394b50;
    position: relative;
    top: 5px;
}
.section-footer__contact_number{
    font-family: "Lato Regular";
    font-size: 20px;
    margin-left: 10px;
    color: #394b50;
}
.section-footer__ikon{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.section-footer__ikon_img{
    max-height: 100%;
    height: 14px;
    margin-right: 15px;
}
.section-footer__name{
    max-width: 100%;
    max-height: 100%;
    height: 40px;
    background-color: #709dca;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.section-footer__name_text{
    font-family: "Open Sans Regular";
    font-size: 13px;
    color: white;
    margin-top: 15px;
}
@media screen and (max-width: 700px){
    .header__block{
        max-width: 100% ;
        width: 700px;
        max-height: 100%;
        height: 360px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }
    .header__menu{
        max-width: 600px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 35px;
        margin-top: 15px;
    }
    .subtitle{
        font-size: 25px;
    }
    .Subtitle__text{
        text-align: center;
    }
    .section-main__wrap{
        margin: 20px;
    }
    .section-main__title{
            font-size: 25px;
            text-align: center;
    }
    
    .section-main__text{
        font-size: 12px;
        text-align: center;
    }
    .section-main__search{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .section-main__input{
        margin-top: 10px;
    }
    .section-main__button{
        margin-top: 20px;
    }
    .section-main__komp{
        display: none;
    }
    .section-info__wrap_info{
        flex-direction: column;
        align-items: center;
    }
    .section-info_column_left{
        width: 80%;
    }
    .section-info_column_right{
        width: 80%;
    }   
    
    .section{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
    }
    .section__block-image{
        height: 400px;
        width: 100%;
    }
    .section__block-color{
        height: 400px;
        width: 100%;
    }
    .section__wrap_color{
        position: static;
        max-width: 500px;
        width: 90%;
        top: 80px;
        left: 0px;
        margin: 20px 10px 0 15px;
    }
    .section-block__wrap_interior{
        flex-direction: column;
    }  
    .section-footer__input_wrap{
        flex-direction: column;
        align-items: center;
    }
    .section-footer__input_email{
        width: 200px;
        margin-top:10px;
        margin-bottom: 20px;
    }
    .section-comments__photo{
        height: 40%;
        width: 15%;
    }
    .section-footer__map{
        max-height: 300px;
        height: 100%;
        max-width: 650px;
        width: 100%;
    }
    .section-footer__map_elipse{
        width: 45%;
        height: 80%;
        margin-top: 0;
    }
    .section-footer__link{
        display: none;
    }
    .section-footer__name_text{
        text-align: center;
    }
}