.main-block{
    width: 1200px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}
.column1{
    width: 470px;   
    float: left;
}

.column2{
    width: 670px;  
    float: right;  
}

.img1{
    position: relative;
    left: 140px;
    top: 100px;
}
.img2{
    position: relative;
    top: 84px;
    right: 78.5px;
}
.main-name1{
    margin-top: 125px;
    margin-left: 124px;
    font-size: 52px;
    font-family: Myriad Pro;
}
.main-name2{
    margin-left: 122px;
    font-weight: bold;
    font-size: 58px;
    font-stretch: expanded;
    font-family: Myriad Pro;
    margin-top: -70px;
}
.main-name3{
    font-family: Myriad Pro;
    font-weight: bold;
    font-size: 22px;
    margin-left: 158px;
    margin-top: -55px;
}
.Ikonki{
   margin-top: 10px;
   position: relative;
   top: 22px; 
}
.categories{
    font-size: 40px;
    font-family: Myriad Pro;
    font-weight: bold;
    color: #006CB4;
    margin-left: 15px;
    display: inline;
}
.contact{
    margin-top: 35px;
}
.type{
    font-size: 20px;
    color: #006CB4; 
    font-weight: bold;
    font-family: Myriad Pro;
}
.address{
    font-size: 20px;
    font-family: Myriad Pro;
}
.skills{
    font-family: Myriad Pro;
    font-size: 25px;
    text-align: center;
}
.block{
   text-align: center;
   margin-top: -15px;  
}
.Elipse{
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.Title{
    font-family: Myriad Pro;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 20px;  
}
.text{
    font-family: Myriad Pro;
    font-size: 15px;
    width: 570px;
    margin-left: 68px;
    margin-top: -20px;
}
.marker{
    width:18px;
    height:18px;
}
.name{
    font-family: Myriad Pro;
    font-size: 25px;
    margin-left: 65px;
    margin-top: -20px;
}
.box{
    margin-top: -15px;
}
.column-software1{
    width: 300px;
    margin-left: 10px;
    margin-top: 40px;
    float: left;
    
}
.Title-software{
    font-size: 25px;
    font-family: Myriad Pro; 
    margin-bottom: -2px;   
}
.column-software2{
    width: 300px;
    margin-right: 15px;
    margin-top: 40px;
    float: right;   
}
.logo{
    position: absolute;  
    top: 1750px; 
    left: 434px;
}
@media screen and (max-width: 700px){
    .column2{
        float: none;
        width: 690px;
        clear: both;
        
    }
    .column-software2{
        float: none;
    }
    .column1{
        clear: both;
        
    }
    .logo{
        display: none;
}

